 <!-- Texte intro -->
<div class="background-image">
  <div class="container">
    <div class="row justify-content-center">
      <h1>Notre étude au coeur de Valenciennes</h1>
    </div>
      <div class=contact-text>
        <p>
          Notre étude de Valenciennes (59 - Nord) est la quatrième office à avoir rejoint la <span>SAS Waterlot & Associés.</span>
          Elle permet à la SAS d’être présente physiquement au cœur de la <span>troisième agglomération urbaine du département</span>,
          de la vallée de l’Escaut jusqu’à la frontière avec la Belgique. <br><br>
          Située au <span>47 Rue de Paris</span>, au coeur de <span>Valenciennes,</span> notre étude vous acceuille du <span>Lundi au Vendredi de 9h30 à 12h30
          et de 13h30 à 17h00</span>.
          Vous pouvez également nous contacter au <span>03 59 61 42 90</span> ou nous envoyer un <span>mail en</span>
          <a href="mailto:valenciennes@huissier-waterlot.com?subject=Via URL TO BE ADDED" target="_blank">cliquant ici.</a>
          </p>
          <div class="contact-images">
            <%= image_tag 'waterlotnav.png' %>
            <%= image_tag 'autocollant.png' %>
          </div>
      </div>
  </div>
</div>

 <!--
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2545.4175970194524!2d3.519533715723345!3d50.3587672794629!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c2edc0c5129a31%3A0xfca81db199a58ea4!2s45%20Rue%20de%20Paris%2C%2059300%20Valenciennes%2C%20France!5e0!3m2!1sfr!2suk!4v1602610711340!5m2!1sfr!2suk" width="350" height="350" frameborder="0" style="border:2px solid #cca000;" allowfullscreen="" aria-hidden="false" tabindex="0" class="rounded"></iframe>
-->

  <!-- <div class="d-flex justify-content-center align-items-center address">
      <div class="text">
        <h3><strong>Pascal Darras</strong><br>
        Waterlot & Associés</h3>
        <div class="contact-detail">
          <i class="fas fa-map-marker-alt"></i>
          <p>45 Rue de Paris <br>
          Valenciennes 59300 </p>
        </div>
        <div class="contact-detail">
          <i class="fas fa-phone"></i>
          <a href="tel:+3359614290">03 59 61 42 90</a>
        </div>
        <div class="contact-detail">
          <i class="fas fa-envelope"></i>
          <a href="mailto:valenciennes@huissier-waterlot.com?subject=Via huissier-waterlot.com">valenciennes@huissier-waterlot.com</a>
        </div>
        <div class="contact-detail">
          <i class="far fa-clock"></i>
          <p><strong>Lundi au Vendredi</strong><br>
            <strong>9h30 à 12h30</strong> - <strong>13h30 à 17h00</strong></p>
        </div>
        <div class="contact-detail">
          <i class="fas fa-map-signs"></i>
          <p>Tramway <strong>Place D'Arme</strong></p>
        </div>
      </div>   -->
