<div class="container">
  <div class="row justify-content-center">
    <h1>SAS Waterlot et Associés Valenciennes</h1>
  </div>
  <div class="col-12 content d-flex justify-content-around">
    <div class="row col-6 address">
      <div class="text-center">
        <i class="fas fa-map-marker-alt"></i>
      </div>
      <div class="text-left">
        <h4>Pascal Darras</h4>
        <h5>Huissier de Justice associé</h5>
        <p>45 Rue de Paris</p>
        <p>Valenciennes 59300 </p>
       </div>
    </div>
     <div class="row col-6 map">
      <p><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2162.8049042554303!2d3.5198643201840873!3d50.35873024010591!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c2edc0c5129a31%3A0xfca81db199a58ea4!2s45%20Rue%20de%20Paris%2C%2059300%20Valenciennes%2C%20France!5e0!3m2!1sfr!2suk!4v1602602358573!5m2!1sfr!2suk" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe></p>
    </div>
  </div>
</div>
