<div class="footer">
  <div class="footer-links">
    <a href="https://www.facebook.com/WAHuissiers/"><i class="fab fa-facebook"></i></a>
    <a href="https://www.linkedin.com/company/wahuissiers/?originalSubdomain=fr"><i class="fab fa-linkedin"></i></a>
    <a href="https://www.huissier-waterlot-valenciennes.com/index.php"><i class="fas fa-globe"></i></a>
    <a href="https://www.huissier-waterlot-valenciennes.com/content/contact.php"><i class="far fa-envelope"></i></a>
  </div>
  <div class="footer-address">
    <p> Waterlot & Associés • 45 Rue de Paris • Valenciennes 59300</p>
  </div>
  <div class="footer-copyright">
    <p>© 2020 Sas Waterlot - Tous droits réservés.</p>
  </div>
</div>
