<div class="footer">
  <div class="footer-links">
    <a href="https://www.facebook.com/WAHuissiers/" target="_blank"><i class="fab fa-facebook"></i></a>
    <a href="https://www.linkedin.com/company/wahuissiers/?originalSubdomain=fr" target="_blank"><i class="fab fa-linkedin"></i></a>
    <a href="https://twitter.com/WAHuissiers" target="_blank"><i class="fab fa-twitter"></i></a>
    <a href="https://www.huissier-waterlot-valenciennes.com/index.php" target="_blank"><i class="fas fa-globe"></i></a>
    <a href="https://www.huissier-waterlot-valenciennes.com/content/contact.php" target="_blank"><i class="far fa-envelope"></i></a>
  </div>
  <div class="footer-copyright">
    <p>© 2020 SAS Waterlot & Associés - Tous droits réservés.</p>
  </div>
</div>
