<div class="map-container">
  <iframe class="frame" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2545.4082934013527!2d3.519472715728097!3d50.35894077946284!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c2edc0c559cb19%3A0xa34052065402342e!2s47%20Rue%20de%20Paris%2C%2059300%20Valenciennes%2C%20France!5e0!3m2!1sfr!2suk!4v1603118266586!5m2!1sfr!2suk" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
</div>
