<div class="container">
<div class="navbar navbar-expand-sm navbar-light navbar-lewagon fixed-top">
  <%= link_to "#", class: "navbar-brand" do %>
    <%= image_tag "waterlothome.png" %>
    <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a href="https://www.huissier-waterlot-valenciennes.com/content/contact.php" target="_blank">Contact</a>
      </li>
    </ul>
    <a href="https://www.mcow.fr/" target="_blank" ><%= image_tag "mcowlight.png" %></a>
  </div>
</div>
</div>
