<!--Banner home page -->

<div class="home-banner">
  <div class='intro'>
    <%= image_tag 'waterlothome.png' %>
    <h1>Pascal Darras<br>Huissier de Justice Associé <span>à Valenciennes.</span></h1>
    <p>Compétence cour d'Appel de <span>Douai(59, 62)</span> & Compétence <span>Nationale.</span></p>
    <a class="btn btn-dark py-2" href="https://www.huissier-waterlot-valenciennes.com/content/nos-services.php" role="button">Nos Services</a>
  </div>
</div>

<!--Cards under home page banner -->

<div class="container">
  <div class="col-12">
    <div class ="col-4 box">
      <%= image_tag 'waterlotnav.png' %>
      <h5>Waterlot et Associés</h5>
      <p>C'est la force de 8 huissiers associés, 2 huissiers salariés et 60 collaborateurs unis dans un seul but: vous satisfaire!</p>
    </div>
    <div class="col-4 box">
      <img src='https://images.unsplash.com/photo-1580591708651-1e4a533bbaf2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80' alt="Compétence lcoale" class="rounded">
      <h5>Compétence court d'Appel de Douai</h6>
      <p>Sur l'ensemble du 59, 62, notre étude vous accompagne en matière de recouvrement judiciaire, signification d'actes,
         gestion locative, contentieux locatifs.</p>
    </div>
    <div class="col-4 box">
      <img src="https://images.unsplash.com/photo-1520939817895-060bdaf4fe1b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2082&q=80" alt="compétence nationale" class="rounded">
      <h5>Compétence Nationale</h5>
      <p>Au niveau National, l'étude vous accompagne en matière de constats (voirie, malfaçon, états des lieux, SMS) et recouvrement amiable.</p>
    </div>
  </div>
</div>

<!-- <div id="typed-strings">
    <p>Typed.js is a <strong>JavaScript</strong> library.</p>
    <p>It <em>types</em> out sentences.</p>
  </div>
  <span id="typed"></span> -->
