<div class="home-banner">
  <div>
    <h1>Pascal Darras<br>Huissier de Justice Associé <span>à Valenciennes.</span></h1>
    <p>Compétence cour d'Appel de <span>Douai(59, 62)</span> & Compétence <span>Nationale.</span></p>
    <a class="btn btn-dark py-2" href="https://www.huissier-waterlot-valenciennes.com/content/nos-services.php" role="button">Nos Services</a>
  </div>
</div>

<div class="container">
  <div class="justify-content-center">
    <div class="col-10">
      <p>Waterlot et Associés c'est la force de 8 huissiers associés, 2 huissiers salariés et 60 collaborateurs.
      Notre</p>
    </div>
  </div>
</div>

<!-- <div id="typed-strings">
    <p>Typed.js is a <strong>JavaScript</strong> library.</p>
    <p>It <em>types</em> out sentences.</p>
  </div>
  <span id="typed"></span> -->
