<!--Banner home page -->

<div class="home-banner">
  <div class="container">
    <div class='intro col-8'>
      <h1>Maître Pascal Darras<br>Huissier de Justice Associé <br><span>à Valenciennes.</span></h1>
      <p>Compétence <span>Cour d'Appel de Douai(59, 62)</span><br>
      Compétence <span>Nationale pour vos constats</span></p>
      <div class="buttons">
        <button class="btn btn-dark" onclick="window.open('https://www.huissier-waterlot-valenciennes.com/content/nos-services.php', '_blank')">Nos services</button>
        <button class="btn btn-dark" onclick="window.open('https://www.huissier-waterlot-valenciennes.com/content/contact.php', '_blank')">Contact</button>
      </div>
    </div>
    <div class="address-intro col-4">
      <div class="contact-detail">
        <i class="fas fa-map-marker-alt"></i>
        <p>47 Rue de Paris <br>
        Valenciennes 59300 </p>
      </div>
      <div class="contact-detail">
        <i class="fas fa-phone"></i>
        <a href="tel:+3359614290">03 59 61 42 90</a>
      </div>
      <div class="contact-detail">
        <i class="fas fa-envelope"></i>
        <a href="mailto:valenciennes@huissier-waterlot.com?subject=Via URL TO BE ADDED">valenciennes@huissier-waterlot.com</a>
      </div>
      <div class="contact-detail">
        <i class="far fa-clock"></i>
        <p><strong>Lundi au Vendredi</strong><br>
        <strong>9h30 à 12h30</strong> - <strong>13h30 à 17h00</strong></p>
      </div>
    </div>
  </div>
</div>

<!--Cards under home page banner -->

<div class="container">
  <div class="col-12">
    <div class ="col-4 box">
      <%= image_tag 'waterlotnav.png' %>
      <h5>Waterlot et Associés</h5>
      <p>C'est la force de 8 huissiers associés, 2 huissiers salariés et 60 collaborateurs unis dans un seul but: vous satisfaire!</p>
    </div>
    <div class="col-4 box">
      <img src='https://images.unsplash.com/photo-1580591708651-1e4a533bbaf2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80' alt="Compétence lcoale" class="rounded">
      <h5>Compétence cour d'Appel de Douai</h6>
      <p>Sur l'ensemble du 59, 62, notre étude vous accompagne en matière de recouvrement judiciaire, signification d'actes,
         gestion locative, contentieux locatifs.</p>
    </div>
    <div class="col-4 box">
      <img src="https://images.unsplash.com/photo-1520939817895-060bdaf4fe1b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2082&q=80" alt="compétence nationale" class="rounded">
      <h5>Compétence Nationale pour vos constats</h5>
      <p>Au niveau National, l'étude vous accompagne en matière de constats (voirie, malfaçon, états des lieux, SMS) et recouvrement amiable.</p>
    </div>
  </div>
</div>

<!-- <div id="typed-strings">
    <p>Typed.js is a <strong>JavaScript</strong> library.</p>
    <p>It <em>types</em> out sentences.</p>
  </div>
  <span id="typed"></span> -->
