<div class="home-banner">
  <h1>Pascal Darras Huissier de justice Valenciennes</h1>
  <div id="typed-strings">
    <p>Typed.js is a <strong>JavaScript</strong> library.</p>
    <p>It <em>types</em> out sentences.</p>
  </div>
  <span id="typed">Hello</span>
</div>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
      <%= "Lorem ipsum dolor sit amet, consectetur adipisicing elit " * 20 %>
    </div>
  </div>
</div>
