<div class="home-banner">
  <div class='intro'>
    <%= image_tag 'waterlothome.png' %>
    <h1>Pascal Darras<br>Huissier de Justice Associé <span>à Valenciennes.</span></h1>
    <p>Compétence cour d'Appel de <span>Douai(59, 62)</span> & Compétence <span>Nationale.</span></p>
    <a class="btn btn-dark py-2" href="https://www.huissier-waterlot-valenciennes.com/content/nos-services.php" role="button">Nos Services</a>
  </div>
</div>

<div class="container">
  <div class="col-12">
    <div class ="col-4 box">
      <img src="https://d9hhrg4mnvzow.cloudfront.net/templates.unbounce.com/freshgoods/f55dfcfa-freshgoods-feature3_0go0b40go09e00000601o.jpeg" alt="" class="">
      <p>Waterlot et Associés c'est la force de 8 huissiers associés, 2 huissiers salariés et 60 collaborateurs unis dans un seul but: vous satisfaire!</p>
    </div>
    <div class="col-4 box">
      <img src="https://d9hhrg4mnvzow.cloudfront.net/templates.unbounce.com/freshgoods/f55dfcfa-freshgoods-feature3_0go0b40go09e00000601o.jpeg" alt="" class="">
      <p>Compétence court d'Appel de Douai (59, 62):</span> Recouvrement judiciaire; signification d'actes,
         gestion locative, contentieux locatifs.</p>
    </div>
    <div class="col-4 box">
      <img src="https://d9hhrg4mnvzow.cloudfront.net/templates.unbounce.com/freshgoods/f55dfcfa-freshgoods-feature3_0go0b40go09e00000601o.jpeg" alt="" class="">
      <p><span>Compétence Nationale:</span> Constats (voirie, malfaçon, états des lieux, SMS) et recouvrement amiable.</p>
    </div>
  </div>
</div>

<!-- <div id="typed-strings">
    <p>Typed.js is a <strong>JavaScript</strong> library.</p>
    <p>It <em>types</em> out sentences.</p>
  </div>
  <span id="typed"></span> -->
