.background-image{
  height: 60vh;
  background-image: url('https://images.unsplash.com/photo-1580591708651-1e4a533bbaf2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80');
}

.background-image .contact-images{
  display: flex;
  flex-direction: column;
  margin-left: 24px;

}

.background-image .container img{
  width: 160px;
  padding-bottom: 16px;

}

.background-image .contact-text{
  display: flex;
  justify-content: center;
  align-items: center;
}


.background-image h1{
  color: #cca000;
  margin: 32px 0px 32px 0px;
}

.background-image h3{
  color: #cca000;
  margin-bottom: 24px;
  font-family: 'Roboto';
  font-weight: thiner;
}

.background-image p {
  color: white;
  font-family: 'Roboto';
  width: 500px;
  text-align: justify;

}

.background-image p > span {
  color: #cca000;
}

.background-image i {
  font-size: 24px;
  color: #cca000;
  margin: 0px 16px 16px 0px;
}

.background-image .address .text {
  border-left: 2px solid #cca000;
  margin-right: 32px;
  padding-left:24px;
}

.background-image a{
  color: white;
  margin-bottom: 16px;
}

.background-image a:hover{
  color: #cca000;
}

